{% # theme-check-disable UndefinedObject %}
<div class="shopify-policy__container sb-content-width sb-page-rhythm">
  <div class="shopify-policy__title">
    <h1 class="font-title weight-bold">{{ policy.title }}</h1>
  </div>

  <div class="shopify-policy__body">
    <div class="rte font-body weight-regular sb-flow-24">
      {{ policy.body }}
    </div>
  </div>
</div>
{% # theme-check-enable UndefinedObject %}
